h1 {
  text-align: center;
  margin: 40px;
}
.d-none {
  display: none;
}

.result {
  font-size: 30px;
  text-align: center;
}
body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
}

form {
  width: 60%;
  background: pink;
  margin: 20px auto;
  overflow: auto;
  padding: 25px;
}

.buttonstyle {
  background: lightgray;
  background-position: 0px -401px;
  border: solid 1px #000000;
  color: #000000;
  height: 35px;
  width: 100px;
  margin-top: -1px;
  padding-bottom: 2px;
}

.buttonstyle:hover {
  background: gray;
  background-position: 0px -501px;
  color: #ffffff;
  font-weight: bold;
}
